@model WebApplication3.Models.Employee
@{ 
    ViewData["Title"] = "Emplyee";
}

<div class="text-center">
    <h1 class="display-4">Welcome @Model.Name</h1>
    <h1 class="display-4">ID: @Model.ID</h1>
    <h1 class="display-4">Age: @Model.Age</h1>
    <h1 class="display-4">City Number: @Model.CityNo</h1>
</div>